@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        i{
            font-size: 20px;
        }
    }
}
main{
    width: 100%;
    height: 120vh;
    .overlay{
        width: 100%;
        height: 100%;
        background-image: url(./pic/man.jpg);
        /* background-size:contain; */
        background-size:cover;
        /* background-repeat: no-repeat; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        /* background-color: red; */
        width: 70%;
        height: 100%;
        position: relative;
        .box{
            position: absolute;
            border: 20px solid #fda802;
            width: 35%;
            height: 62%;
            top: 80px;
        }
        .text{
            position: absolute;
            font-size: 45px;
            font-weight: 700;
            width: 40%;
            background-color: #fff;
            top: 25%;
            left: 72px;
            padding: 20px 0;
        }
    }
}
section{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 70%;
        height: 100%;
        display: flex;
        position: relative;
        .left{
            width: 60%;
            position: absolute;
            bottom: 0;
            .about{
                color: #fff;
                background-color: #1948ff;
                border-radius: 50px 20px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                width: 100px;
                padding: 10px 5px;
                text-align: center;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;            } 
            .info{
                font-family: "Open Sans";
                width: 90%;
                font-size: 18px;
                margin-top: 30px;
            }
        } 
        .right{
            width: 40%;
            position: absolute;
            right: -70px;
            top: -80px;
            height: 100%;
            .box{
                border: 20px solid #1948ff;
                height: 120%;
                width: 90%;
                background-color: #fff;
            }
            .text{
            position: absolute;
            font-size: 45px;
            font-weight: 700;
            width: 100%;
            background-color: #fff;
            top: 40%;
            right: 100px;
            padding: 50px 0;

            }
        }
    }
}
/* Start Contact */
.contact-us{
    height: 35vh;
    background-color: #fda802;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 75%;
        background-color: #fff;
        height: 60%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .contact{
            display: flex;
            justify-content: center;
            align-items: center;
            gap:40px;
            .icon{
            background-color: #1948ff;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            i{color:#fff;font-size: 45px;}
            }
            .details{
                h1{font-size: 45px;margin-bottom: 15px;}
                p{
                    font-size: 17px;
                    a{
                        text-decoration: none;
                        font-weight: 700;
                        color:#1948ff;
                    }
                }
            }
        }.book{
            display: flex;
            justify-content: center;
            align-items: center;
            button{
                color: #fff;
                font-weight: 500;
                border: none;
                letter-spacing: 1px;
                background-color: #1948ff;
                width: 100%;
                padding: 20px 30px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                cursor: pointer;
                &:hover{
                    background-color: #fda802;
                }
}
        }

    }
}
/* End Contact */

/* Start IT Solution */
.it{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 70%;
        flex-direction: column;
        gap:20px;
        h1{ font-size: 50px;};
        button{
            border: none;
            width: 14%;
            color: #fff;
            background-color: #1948ff;
            border-radius: 50px;
            padding: 15px 25px;
            font-weight: 700;
            letter-spacing: 1px;
            margin-bottom: 40px;
        }
        .info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .box{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                h1 {
                    font-family: "Ubuntu";
                    color: #fff;
                    border-radius: 50%;
                    padding: 16px;
                    font-size: 35px;
                    margin-right: 50px;
                }
                .black{
                    background-color: #333;
                    }
                .blue{
                    background-color: #1948ff;
                }
                p{
                    line-height: 30px;
                    font-family: "Open Sans"
                }
            }
        }
    }
}
/* End IT Solution */

/* Start Protofolio */
.discription{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 70%;
        /* height: 100%; */
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        /* gap: 10px; */
        .dis{
            width: 25%;
            p{font-size: 13px; margin: 20px 0;
                a{
                    color:#1948ff ;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
        .pic{
            width: 25%;
            img{
                width:250px;
                height: 250px;
                object-fit: cover;
            }
        }
        .dis2{
            width: 25%;
            p{  font-size: 15px;
                margin-top: 50px;
                font-family: "Open Sans";

            }
        }
    }
}
/* End Protofolio */

/* Start About */
article{
    height: 80vh;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            width: 60%;
            height: 100%;
            position: relative;
            .box{
                position: absolute;
                border: 20px solid #fda802;
                width: 75%;
                height: 100%;
            }
            .cover{
               width: 85%;
                height: 60%;
                background-color: #fff;
                box-shadow: 0px 0px 7px 0px #ccc;
                position: absolute;
                top: 20%;
                left: 10%;
                padding: 20px;
                .pic{
                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }h3{
                    font-size: 25px;
                    margin-top: 20px;
                }
            }
        }
        .right{
            width: 40%;
            margin-left: 50px;
            button{
                color: #fff;
                background-color: #1948ff;
                border-radius: 50px 20px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
                width: 100px;
                padding: 10px 5px;
                text-align: center;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 1px;
                border:none
            }
            p{
                font-family: "Open Sans";
                width: 90%;
                font-size: 18px;
                margin-top: 30px;
            }
        }
    }
}
/* End About */

/* Start Team */
.team{
    min-height: 150vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        /* height: 100%; */
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /* gap:30px; */
        .card{
            width: 30%;
            height: 44%;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            padding: 30px;
            .pic{
                width: 250px;
                height: 250px;
                object-fit: cover;
                background-size: cover;
                background-position: right;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
            h3{
                font-size: 25px;
                margin: 15px 0;
            }
            p{
                font-style: italic;
            }
            i{
                color:#fda802;
                font-size: 60px;
                margin: 20px 0;
            }
        }
        .last{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-family: "Open Sans";
                font-style:normal;
                line-height: 25px;
            }
            .black-arrow{
                color: black;
                font-size: 40px;
            }

        }
    }
}
/* End Team */

/* Start rating */
.rating{
    padding: 45px 0;
    background-color: #1948ff;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:#fff;
            .icon{
                background-color: #fda802;
                border-radius: 50%;
                padding: 17px;
                i{
                    font-size: 30px;
                }
            }
            h1{
                font-size: 40px;
                margin-top: 20px;
            }
            p{
                font-size: 25px;
                font-weight: 700;
                margin-top: 15px;
            }

        }
    }
}
/* End rating */

/* Start Example */
.example{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .one{
            top:100px;
        }
        .contenet{
            width: 40%;
            height: 80%;
            position: relative;

            .border{
            width: 130%;
            height: 65%;
            position: absolute;
            top:0;
            }
            .orange{
                border: 20px solid  #fda802;
            }
            .blue{
                border: 20px solid  #1948ff ;

            }

            .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                 position: absolute;
                top:-100px;
                left:30%;
                z-index: 3; 


                .pic-man{
                    background-image: url(./pic/left\ -man.jpg);
                    width: 200px;
                    height: 200px;
                    background-size: cover;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }

                .pic-woman{
                    background-image: url(./pic/right-woman.jpg);
                    background-position: left;
                    width: 200px;
                    height: 200px;
                    background-size: cover;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                }
                h1{
                    text-align: center;
                    margin: 25px 0 50px 0;
                    font-size: 23px;
                }
                .others{
                    color:#fda802;
                }
                i{
                    font-size: 45px;
                }
            }
            p{
                width: 140%;
                position: absolute;
                bottom: 0;
                text-align: center;
                line-height: 22px;
            }
        }
    }
}
/* End Example */

/* Start clients */
.clients{
    background-color:#f2f2f2 ;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20%;
        h1{
            font-size: 50px;
        }
        .pic{
            display: flex;
            justify-content: space-between;
            img{
                padding-left: 20px;
                width: 90px;
                height: 90px;
                object-fit: cover;
            }
        }
    }

}
/* End clients */

/* Start Contact */
.contact-our-company{
    height: 80vh;
    background-color:#fda802;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 40px 0 ;

    .container{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-list{
            width: 40%;
            height: 100%;

            h1{font-size: 45px;}
            .pic{
                width: 120px;
                height: 120px;
                background-image: url(./pic/office\ girl.jpg);
                background-size: cover;
                background-position: bottom;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                margin: 40px 0;
            }
            p{
                font-family: "Open Sans";
                font-size: 14px;
            }
            .location{
                position: relative;

                i{
                    color:#1948ff ;
                    font-size: 35px;
                    position: absolute;
                    left: -24px;
                    top: 30px;
                }
                .info{
                    position: absolute;
                    top: 30px;
                    left: 50px;
                }
                #text{
                    margin-top: 9px;
                    line-height: 30px;
                    font-size: 14px;
                }
            }
        }
        .right-list{
            width: 50%;
            height: 100%;

            h2{font-size: 25px;}
            p{margin: 20px 0;line-height: 30px;}
            #mail{
                padding: 13px 10px;
                width: 70%;
                border-radius: 20px;
                border: none;
                &:focus{
                    outline: none;
                }
            }
            #btn{
                color: #fff;
                background-color: #1948ff ;
                border: none;
                padding: 13px 10px;
                width: 25%;
                border-radius: 24px;
                font-weight: 700;
                margin-left: 10px;
                font-size: 16px;
                cursor: pointer;
                &:hover{background-color: #0033fc;}
            }
            .phone{
                margin-top: 70px;
                position: relative;
                top:100px;
                i{
                    color:#1948ff ;
                    font-size: 35px;
                    position: absolute;
                    left: -24px;
                    top: 30px;
                }
                .info{
                    position: absolute;
                    top: 30px;
                    left: 50px;
                    h4{
                        font-size: 20px;
                    }
                    p{
                        margin-top: 9px;
                        line-height: 30px;
                        font-size: 14px;
                        font-family: "Open Sans"
                    }
                }
            }
        }
    }
}

/* End Contact */

/* Start Footer */
footer{
    background-color: #333;
    /* height: 40vh; */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: "Open Sans";
    #start{
        font-size: 13px;
        margin: 40px 0 60px 0
    }
    #end{
        font-size: 15px;
    }
}
/* End Footer */


/* #fda802 orange */
/* #1948ff  blue */
/* #333333  black */
/* #f2f2f2   gray */
/* font-family: "Open Sans" */
/* font-family: "Ubuntu" */
